# Agenda
   
    
### 3. Print Statements

    -> Displaying

    -> NoneType

    -> Concatenation

    -> Joining

    -> New Line

    -> Tab space
    
    -> end
    
    -> sep
   
### 4. Error types

    -> Syntax Error

    -> Name Error
    
    -> Value Error

    -> Type Error
    
### Syntax

# Chapters in depth

### 3. Print

The print statement has been replaced with a print() function, with keyword arguments to replace most of the special syntax of the old print statement.

In Python, single, double and triple quotes are used to denote a string. Most use single quotes when declaring a single character. Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

    -> print is a build in function
    
    -> print helps to display output
    
    -> print output not used in further operations
    
    -> print output is only for display because data type of the print output is NoneType
    
##### Examples:

#### 3.1 print helps to display outpu

In [21]:
a = 3
print(a)

3

#### 3.2 Checking datatypes

In [22]:
type(a)

int

In [23]:
type(print(a))

3

NoneType

In [24]:
b = print(a)
type(b)

3

NoneType

#### 3.3 print output cannot use in further operations

In [25]:
c = 8 + a
c

11

In [26]:
d = 8 + b
d

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [27]:
e = b + b
e

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

#### 3.4 Concatination

    -> representation is +

    -> we required two values to concate
    
    -> Two values must be same data type
    
    -> While we are concatinating no space generated

In [28]:
print(2+2)

4

In [29]:
print('div'+'esh')

divesh

In [30]:
print('div'+'es'+'h')

divesh

In [31]:
print('2' + 2)

TypeError: can only concatenate str (not "int") to str

#### 3.5 Joining 

    -> representation is ,
    
    -> we required two values to joining
    
    -> Two values can be same or different data type
    
    -> While we are joining space generated

In [32]:
print(2,2)

2 2

In [33]:
print('div','esh')

div esh

In [34]:
print('2',2)

2 2

In [35]:
a=8

In [36]:
print("Number of students in a class:",a)

Number of students in a class: 8

In [37]:
print('Good','Morning'+'!')

Good Morning!

In [ ]:
a = 'Good'
b = 'Morning'
c = '!'

print(a,b,c)

In [ ]:
print(a+b+c)

In [ ]:
print(a,b+c)

#### 3.6 New Line     \n

In [38]:
print('This is Divesh. \nWorking in apss company.')

This is Divesh.
Working in apss company.

In [39]:
print('This is Divesh. \n Working in apss company.')

This is Divesh.
 Working in apss company.

In [40]:
print(r'This is Divesh. \n Working in apss company.')

This is Divesh. \n Working in apss company.

In [41]:
print('C:/USER/divesh\notebook.\nWorking in apss company.')

C:/USER/divesh
otebook.
Working in apss company.

In [42]:
print(r'C:/USER/divesh\notebook.\nWorking in apss company.')

C:/USER/divesh\notebook.\nWorking in apss company.

In [43]:
print(r'C:/USER/divesh\notebook.','\nWorking in apss company.')

C:/USER/divesh\notebook.
Working in apss company.

In [44]:
print(r'C:/USER/divesh\notebook.',r'\nWorking in apss company.')

C:/USER/divesh\notebook. \nWorking in apss company.

In [45]:
print('This is \n\n\n\n\nDivesh')

This is




Divesh

In [46]:
print('This is', 8*'\n','Divesh')

This is







 Divesh

#### 3.7 tab   \t

In [47]:
print('Jan\tFeb\tMar\tApr')

Jan	Feb	Mar	Apr

1 tab = 4 spaces = 1 indent

In [48]:
print('Jan\tFeb\tMar\tApr\nMay\tJun\tJul\tAug\n\nSep')

Jan	Feb	Mar	Apr
May	Jun	Jul	Aug

Sep

#### 3.8 end

In [49]:
print("this is")
print('Divesh')

this is
Divesh

In [50]:
print("this is",end="")
print('Divesh')

this isDivesh

In [51]:
print("this is",end=" ")
print('Divesh')

this is Divesh

In [52]:
print("this is",end=" ")
print('Divesh')
print('Kumar')

this is Divesh
Kumar

In [53]:
print("this is",end=" ")
print('Divesh',end=" ")
print('Kumar')

this is Divesh Kumar

In [54]:
print("this is",end="\n\n")
print('Divesh')

this is

Divesh

In [55]:
print("this is",end=" @")
print('Divesh')

this is @Divesh

#### 3.9 sep

In [56]:
a = 4
b = 9
c = 2022
print(a,b,c)

4 9 2022

In [57]:
a = 4
b = 9
c = 2022
print(a,b,c,sep='/')

4/9/2022

In [58]:
a = 4
b = 9
c = 2022
print(a,b,c,sep='-')

4-9-2022

In [59]:
a = 4
b = 9
c = 2022
print(a,b,c,sep='@')

4@9@2022

### 4. Errors

    -> Syntax error
    
    -> Name error
    
    -> Type Error
    
    -> Value Error

#### 4.1 Syntax Error

In [ ]:
df!@ = 5

#### 4.2  Name Error

In [ ]:
zebra

#### 4.3 Type Error

In [60]:
c = print(5)
a = 5 + c

5

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

#### 4.4 Value Error

In [61]:
a = int(input('Enter Number: '))
a

Enter Number: eight

ValueError: invalid literal for int() with base 10: 'eight'

### 7. Syntax

    -> A Python statement ends with a newline character.

    -> Python uses spaces and identation to organize its code structure.

    -> Identifiers are names that identify variables, functions, modules, classes, etc. in Python.

    -> Comments describe why the code works. They are ingored by the Python interpreter.

    -> Use the single quote, double-quotes, tripple-quotes, or tripple double-quotes to denote