# add()	 
Adds an element to the set

### Example
Add an element to the fruits set:

In [1]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'orange', 'apple', 'banana', 'cherry'}

#### Definition and Usage
The add() method adds an element to the set.

If the element already exists, the add() method does not add the element.

### Syntax

set.add(elmnt)

### Parameter Values

Parameter	         Description 

elmnt	              Required. The element to add to the set

### More Examples
Example 

Try to add an element that already exists:

In [1]:
fruits = {"apple", "banana", "cherry"}

fruits.add("apple")

print(fruits)

{'apple', 'banana', 'cherry'}

# clear() 
Removes all the elements from the set

### Example
Remove all elements from the fruits set:

In [2]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

### Definition and Usage
The clear() method removes all elements in a set.


### Syntax

set.clear()

# copy()	 
Returns a copy of the set

### Example
Copy the fruits set:

In [3]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'apple', 'banana', 'cherry'}

### Definition and Usage
The copy() method copies the set.

### Syntax

set.copy()

# difference()	 
Returns a set containing the difference between two or more sets

### Example
Return a set that contains the items that only exist in set x, and not in set y:

In [4]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

### Definition and Usage
The difference() method returns a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.

### Syntax

set.difference(set)

### Parameter Values

Parameter           Description
set                     Required. The set to check for differences in

### More Examples
Example 

Reverse the first example. Return a set that contains the items that only exist in set y, and not in set x:

In [5]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'google', 'microsoft'}

# difference_update()	 
Removes the items in this set that are also included in another, specified set

### Example
Remove the items that exist in both sets:

In [6]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

### Definition and Usage
The difference_update() method removes the items that exist in both sets.

The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.

### Syntax

set.difference_update(set)

### Parameter Values

Parameter      Description
set            Required. The set to check for differences in

# discard()	
Remove the specified item

### Example
Remove "banana" from the set:

In [8]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'apple', 'cherry'}

### Definition and Usage
The discard() method removes the specified item from the set.

This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

### Syntax

set.discard(value)

### Parameter Values

Parameter        Description
value             Required. The item to search for, and remove

# discard() 
Remove the specified item

### Example
Remove "banana" from the set:

In [9]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'apple', 'cherry'}

### Definition and Usage
The discard() method removes the specified item from the set.

This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

### Syntax

set.discard(value)

### Parameter Values

Parameter               Description
value                    Required. The item to search for, and remove

# intersection() 
Returns a set, that is the intersection of two or more sets

### Example
Return a set that contains the items that exist in both set x, and set y:

In [10]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

### Definition and Usage
The intersection() method returns a set that contains the similarity between two or more sets.

Meaning: The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

### Syntax

set.intersection(set1, set2 ... etc)

### Parameter Values

Parameter               Description
set1                    Required. The set to search for equal items in
set2                    Optional. The other set to search for equal items in.
                        You can compare as many sets you like.
                        Separate the sets with a comma

# More Examples
Example 

Compare 3 sets, and return a set with items that is present in all 3 sets:

In [11]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

# intersection_update() 
Removes the items in this set that are not present in other, specified set(s

### Example
Remove the items that is not present in both x and y:

In [13]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

### Definition and Usage
The intersection_update() method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

The intersection_update() method is different from the intersection() method, because the intersection() method returns a new set, without the unwanted items, and the intersection_update() method removes the unwanted items from the original set.

### Syntax

set.intersection_update(set1, set2 ... etc)

### Parameter Values

Parameter      Description
set1           Required. The set to search for equal items in
set2           Optional. The other set to search for equal items in.
               You can compare as many sets you like.
               Separate the sets with a comma

### More Examples
Example 

Compare 3 sets, and return a set with items that is present in all 3 sets:

In [14]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)

{'c'}

### isdisjoint() 
Returns whether two sets have a intersection or not

### Example
Return True if no items in set x is present in set y:

In [15]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

### Definition and Usage
The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

### Syntax

set.isdisjoint(set)

### Parameter Values

Parameter   Description
set         Required. The set to search for equal items in

### More Examples
Example 

What if no items are present in both sets?

Return False if one ore more items are present in both sets:

In [16]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False


# issubset() 
Returns whether another set contains this set or not

### Example 

Return True if all items in set x are present in set y:

In [17]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

### Definition and Usage
The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.

### Syntax

set.issubset(set)

### Parameter Values

Parameter  Description
set        Required. The set to search for equal items in

### More Examples
Example 

What if not all items are present in the specified set?

Return False if not all items in set x are present in set y:

In [18]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

# issuperset() 
Returns whether this set contains another set or not

### Example
Return True if all items set y are present in set x:

In [2]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

### Definition and Usage
The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

### Syntax

set.issuperset(set)

### Parameter Values

Parameter    Description
set          Required. The set to search for equal items in

### More Examples
Example 

What if not all items are present in the specified set?

Return False if not all items in set y are present in set x:

In [3]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False

# pop() 
Removes an element from the set

### Example
Remove a random item from the set:

In [4]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'banana', 'cherry'}

### Definition and Usage
The pop() method removes a random item from the set.

This method returns the removed item.

### Syntax

set.pop()

### More Examples
Example 

Return the removed element:

In [5]:
fruits = {"apple", "banana", "cherry"}

x = fruits.pop()

print(x)

apple

# remove() 
Removes the specified element

### Example
Remove "banana" from the set:

In [6]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'apple', 'cherry'}

### Definition and Usage
The remove() method removes the specified element from the set.

This method is different from the discard() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

### Syntax

set.remove(item)

### Parameter Values

Parameter      Description
item           Required. The item to search for, and remove

# symmetric_difference() 
Returns a set with the symmetric differences of two sets

### Example
Return a set that contains all items from both sets, except items that are present in both sets:

In [7]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'cherry', 'google', 'banana'}

### Definition and Usage
The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.

Meaning: The returned set contains a mix of items that are not present in both sets.

### Syntax

set.symmetric_difference(set)

### Parameter Values

Parameter   Description
set         Required. The set to check for matches in

# symmetric_difference_update() 
inserts the symmetric differences from this set and another

### Example
Remove the items that are present in both sets, AND insert the items that is not present in both sets:

In [8]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'google', 'banana'}

### Definition and Usage
The symmetric_difference_update() method updates the original set by removing items that are present in both sets, and inserting the other items.

### Syntax

set.symmetric_difference_update(set)

### Parameter Values

Parameter    Description
set          Required. The set to check for matches in

# union()
Return a set containing the union of sets

### Example
Return a set that contains all items from both sets, duplicates are excluded:

In [9]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'microsoft', 'cherry', 'apple', 'banana', 'google'}

### Definition and Usage
The union() method returns a set that contains all items from the original set, and all items from the specified set(s).

You can specify as many sets you want, separated by commas.

It does not have to be a set, it can be any iterable object.

If an item is present in more than one set, the result will contain only one appearance of this item.

### Syntax

set.union(set1, set2...)

### Parameter Values


Parameter  Description
set1       Required. The iterable to unify with
set2       Optional. The other iterable to unify with.
           You can compare as many iterables as you like.
           Separate each iterable with a comma

### More Examples
Example

Unify more than 2 sets:

In [10]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'f', 'c', 'd', 'a', 'e', 'b'}

# update() 
Update the set with another set, or any other iterable

### Example
Insert the items from set y into set x:

In [11]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'microsoft', 'cherry', 'apple', 'banana', 'google'}

### Definition and Usage
The update() method updates the current set, by adding items from another set (or any other iterable).

If an item is present in both sets, only one appearance of this item will be present in the updated set.

### Syntax

set.update(set)

### Parameter Values

Parameter  Description
set        Required. The iterable insert into the current set