### 3. user defined function

def function_name():
    Statement

In [1]:
a =10
b =20

c = a+b
print(c)

30

In [2]:
def add():
    c = i+j
    print(c)

In [3]:
add()

NameError: name 'i' is not defined

In [4]:
add(2,3)

TypeError: add() takes 0 positional arguments but 2 were given

In [5]:
def add(x,y):
    c = k+j
    print(c)

In [6]:
add(2,3)

NameError: name 'k' is not defined

In [7]:
def add(k,j):
    c = k+j
    print(c)

In [8]:
add(2,3)

5

In [9]:
a=6
b=5
add(a,b)

11

In [10]:
add(5,6,2)

TypeError: add() takes 2 positional arguments but 3 were given

### Local Variable => re and te

In [11]:
def sub():
    re = 10
    te = 5
    res = re - te
    print(res)

In [12]:
sub()

5

In [13]:
print(re)

NameError: name 're' is not defined

### Global Variable

In [14]:
we = 8
qe = 6
def mul():
    resu = we * qe
    print(resu)

In [15]:
mul()

48

In [16]:
print(we)

8

### Doc String

In [17]:
def add(a,b):
    """Here add function helps to add two numbers a and b"""
    c = a+b
    print(c)

In [18]:
print(add.__doc__)

Here add function helps to add two numbers a and b

In [19]:
add(2,3)

5

In [20]:
print(len.__doc__)

Return the number of items in a container.

In [21]:
x=6

if x%2==0:
    print(x,"value is even number")
else:
    print(x,"value is odd number")

6 value is even number

In [22]:
def e_o(x):
    if x%2==0:
        print(x,"value is even number")
    else:
        print(x,"value is odd number")

In [23]:
e_o(5)

5 value is odd number

In [24]:
for i in [4,5,21,68,21,63,21,21,5]:
    e_o(i)

4 value is even number
5 value is odd number
21 value is odd number
68 value is even number
21 value is odd number
63 value is odd number
21 value is odd number
21 value is odd number
5 value is odd number

### Creating a Function

In [25]:
def my_function():
    print("Thanks for calling functions")

### Calling a function

In [26]:
my_function()

Thanks for calling functions

### Arguments

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

In [1]:
def my_function(fname):
    print(fname + " is my name. This is "+fname)

In [2]:
my_function("Arun")

Arun is my name. This is Arun

In [3]:
my_function("Divesh")
my_function("Kumar")

Divesh is my name. This is Divesh
Kumar is my name. This is Kumar

In [4]:
for fname in ['Arun','Divesh','Suresh']:
    my_function(fname)

Arun is my name. This is Arun
Divesh is my name. This is Divesh
Suresh is my name. This is Suresh

### Number of Arguments

By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [5]:
def my_function(fname, lname):
    print(fname + " " + lname)

##### This function expects 2 arguments, and gets 2 arguments:

In [6]:
my_function("Divesh", "Mattigiri")

Divesh Mattigiri

##### This function expects 2 arguments, but gets only 1

In [7]:
my_function("Divesh")

TypeError: my_function() missing 1 required positional argument: 'lname'

##### This function expects 2 arguments, but gets more than 2

In [8]:
my_function("Divesh","Kumar","Mattigiri")

TypeError: my_function() takes 2 positional arguments but 3 were given

### Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments.

Arbitrary Arguments are often shortened to *args in Python documentations.

In [9]:
def my_function(*name):
    print("The Last Name is " + name[-1])
    print("The First Name is " + name[0])
    print("The Middle name is " , name[1:-1])
    print(name)

("Divesh", "Ganesh", "Kumar","Mattigiri")

In [10]:
my_function("Divesh", "Ganesh", "Kumar","Mattigiri")

The Last Name is Mattigiri
The First Name is Divesh
The Middle name is  ('Ganesh', 'Kumar')
('Divesh', 'Ganesh', 'Kumar', 'Mattigiri')

### Keyword Arguments

You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [11]:
def my_function(lastname, firstname, middlename):
    print("The last name is " + lastname)

In [12]:
my_function("Divesh","Kumar","Mattigiri")

The last name is Divesh

In [13]:
my_function(firstname = "Divesh", middlename = "Kumar", lastname = "Mattigiri")

The last name is Mattigiri

### Arbitrary Keyword Arguments, **kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly.

If the number of keyword arguments is unknown, add a double ** before the parameter name

In [14]:
def my_function(**name):
    print("His last name is " + name["lname"])
    print(name)

{'fname':"Divesh","lname":"Mattigiri"}

In [15]:
my_function(fname = "Divesh", lname = "Mattigiri")

His last name is Mattigiri
{'fname': 'Divesh', 'lname': 'Mattigiri'}

### Default Parameter Value

The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value

In [16]:
def my_function(country = "India"):
    print("I am from" , country)

In [17]:
my_function("Norway")
my_function("Canada")
my_function()
my_function("USA")

I am from Norway
I am from Canada
I am from India
I am from USA

### Passing a List as an Argument

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function

In [18]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["Mango", "Apple", "Orange"]

my_function(fruits)

Mango
Apple
Orange

### Print Values

To display a value, use the print

In [19]:
def my_function(x):
    print(5 * x)

In [20]:
my_function(6)

30

In [21]:
a = my_function(6)
type(a)

30

NoneType

In [22]:
a+3

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

### Return Values

To let a function return a value, use the return statement

In [23]:
def my_function(x):
    return 5 * x

In [24]:
my_function(6)

30

In [25]:
a = my_function(6)
print(a)
type(a)

30

int

In [26]:
a+3

33

### The pass Statement

function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error

In [27]:
def myfunction():
    pass

In [28]:
myfunction()

In [29]:
def arthematic(x,y):
    a = x+y
    b = x-y
    return a,b

In [30]:
arthematic(2,3)

(5, -1)

In [31]:
c,d = arthematic(2,3)
print(c)
print(d)

5
-1

In [32]:
k =arthematic(2,3)
k[0]

5

In [33]:
k[1]

-1