### Recursive Function

The term Recursion can be defined as the process of defining something in terms of itself. In simple words, it is a process in which a function calls itself directly or indirectly. 

#### Advantages of using recursion

    -> A complicated function can be split down into smaller sub-problems utilizing recursion.

    -> Sequence creation is simpler through recursion than utilizing any nested iteration.

    -> Recursive functions render the code look simple and effective.

#### Disadvantages of using recursion

    -> A lot of memory and time is taken through recursive calls which makes it expensive for use.

    -> Recursive functions are challenging to debug.

    -> The reasoning behind recursion can sometimes be tough to think through.

In [1]:
def recursive_factorial(n):
    if n == 1:
        return n
    else:
        return n * recursive_factorial(n-1)
 
# user input
num = 6
 
# check if the input is valid or not
if num < 0:
    print("Invalid input ! Please enter a positive number.")
elif num == 0:
    print("Factorial of number 0 is 1")
else:
    print("Factorial of number:", num, "=", recursive_factorial(num))

Factorial of number: 6 = 720

## Python Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

### Syntax

lambda arguments : expression

#### Add 10 to argument a, and return the result

In [2]:
x = lambda a : a + 10
print(x(6))

16

In [3]:
print(x(10))

20

#### Multiply argument a with argument b and return the result:

In [4]:
y = lambda a, b : a * b
print(y(5, 6))

30

### Summarize argument a, b, and c and return the result:

In [5]:
z = lambda a, b, c : a + b + c
print(z(5, 6, 2))

13

In [6]:
k = int(input("Enter Number: "))
m = int(input("Enter Number: "))
y = lambda a, b : a * b
print(y(k, m))

Enter Number: 4
Enter Number: 3
12

### Why Use Lambda Functions?

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [7]:
def myfunc(n):
    return lambda a : a * n

In [8]:
double = myfunc(2)

print(double(11))
print(double(12))

22
24

In [9]:
triple = myfunc(3)
print(triple(11))

33

In [10]:
print(double(98))

196

In [11]:
def myfunc(n):
    return lambda a : n * a

In [12]:
tables = myfunc(3)
print(tables(1))
print(tables(2))
print(tables(3))
print(tables(4))
print(tables(5))
print(tables(6))
print(tables(7))
print(tables(8))
print(tables(9))
print(tables(10))

3
6
9
12
15
18
21
24
27
30

In [15]:
n = int(input("Which Table you want:"))
tables = myfunc(n)
for i in range(1,11):
    print(n,'X',i,'=',tables(i))

Which Table you want:25
25 X 1 = 25
25 X 2 = 50
25 X 3 = 75
25 X 4 = 100
25 X 5 = 125
25 X 6 = 150
25 X 7 = 175
25 X 8 = 200
25 X 9 = 225
25 X 10 = 250

In [16]:
for j in range(1,11):
    print(j,'Table')
    tables = myfunc(j)
    for i in range(1,11):
        print(j,'X',i,'=',tables(i))
    print('\n')

1 Table
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10


2 Table
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


3 Table
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30


4 Table
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40


5 Table
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50


6 Table
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60


7 Table
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70


8 Table
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80


9 Table
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90


10 Table
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100