In [1]:
import pandas as pd
import mysql.connector as mysql

In [2]:
conn = mysql.connect(host='localhost', database='iris_prj_DeadPool', user='root', password='root')

In [3]:
df = pd.read_sql("SELECT * FROM iris_prj_DeadPool.data", conn) # tips.tips_data
df.head()

C:\Users\divesh\AppData\Local\Temp\ipykernel_20528\2271167799.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM iris_prj_DeadPool.data", conn) # tips.tips_data

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa