# Agenda of the Class

### 1. Variable

    1.1 Value

    1.2 Assignment Operator

    1.3 Identifier
        
### 2. print( )
    
    -> Build-in function

### 3. Basic Data Type

    3.1 integer

    3.2 float

    3.3 string

### 4. type( )

    -> Build-in function
   
### 5. len( )

    -> Build-in function

### 6. Guidelines to declare variable names

    6.1 Following steps
    
    6.2 Camel Case
    
    6.3 Pascal Case
    
    6.4 Snake Case

###  7. Python Variable Types

    7.1 Local Variable
    
    7.2 Global Variable
    
### 8. Delete a Variable

### 9. Multiple Assignments

    9.1 Assigning multiple values to multiple variables
    
    9.2 Assigning single value to multiple variables
    
    9.3 Printing Multiple Variables

### 10. Re-Declare Variable

### 11. Displaying output with variable name

### 12. Difference between string and variable name

### 13. Casting

    13.1 int( )
    
    13.2 float( )
    
    13.3 str( )
    
### 14. input( )

# Each Chapter indepth explanation

### 1. Variable

    -> When we develop a program, we need to manage values, a lot of them. To store values, we use variables.

    -> It going to work as a storage area
    
    -> where we are storing value in a name
    
#### Example with Syntax

##### Syntax

Variable_Name Assignmen_Operator Value

##### Example

a = 2

where 

    -> a   => variable name
    
    -> =   => assignment operator
    
    -> 2   => value => value can be any datatype

### 2. print( )

    -> Built-in functions to display output

###### Example:

In [ ]:
a = 9

In [ ]:
print(a)

#### 1.3 Value

    -> Value can be any datatype
    
    -> Basic Datatypes
    
        -> integer
        
        -> float
        
        -> string

### 3. Basic Data Types

    -> integer
    
        represent by using int
    
    -> float
    
        represent by using float
    
    -> string
    
        represents by using str

#### 3.1 integer

    -> Number without decimals
    
    -> value can lies in between minus infinity to plus infinity
    
##### Example:

In [ ]:
a = 358

In [ ]:
print(a)

### 4. type

    -> Type is a build-in function
    
    -> Python itself having few functions
    
    -> This type functions gives data type information
    
##### Example:

In [ ]:
type(a)

In [ ]:
type(-145)

#### 3.2 Float

    -> if we find any decimal values in the number
    
    -> Values are lies in between minus infinity dot infinity to plus infinity dot infinity
    
    -> Python can hold 15 decimal values
    
##### Examples:

In [ ]:
a = 4.0
print(a)
type(a)

In [ ]:
type(-5.258652)

#### 3.3 String

    -> string consists of chars
    
    -> chars can be lower and upper case alphabets, digits, special chars including space
    
    -> When these chars are enclosed in between single or double quotes
    
##### Example:

In [ ]:
c = 'Divesh'
print(c)
type(c)

In [ ]:
type("Divesh15.$@qwer")

In [ ]:
print("Divesh's Laptop.")
type("Divesh's Laptop.")

### Boolen

    -> Boolean consists of two values
    
    -> True Flase
    
    -> T and F must be upper case
    
    -> Representation is bool

In [ ]:
a = True
print(a)
type(a)

In [ ]:
type(False)

#### 1.2 Assignments Operator

    -> We are going to have = (equal to)

#### 1.3 Variable Name

    -> Variable Name must follow identifier rules
    
    -> If it is fail to follow identifier rules then we are going to see Syntax Error
    
    -> Rules to remember
    
        => Identifiers are not going to use special chars except underscore
        
        => Identifiers cannot start with numbers
        
        => Identifiers treat lower and upper case as different
        
        => Keywords or reserved words, and built-in functions in Python cannot become as identifiers

##### 1.3.1 Identifiers are not going to use special chars except underscore

In [ ]:
we@k = 7

In [ ]:
we k = 7

In [ ]:
we+k = 7

In [ ]:
weak = 7
print(weak)

In [ ]:
we_ak = 7
print(we_ak)

In [ ]:
_we = 10
print(_we)

In [ ]:
we_ = 11
print(we_)

#### 1.3.2 Identifiers cannot start with numbers

##### Example:

In [ ]:
9a = 12

In [ ]:
a9 = 10
print(a9)

In [ ]:
c4_e4=15
print(c4_e4)

#### 1.3.3 Identifiers treat lower and upper case as different

##### Examples:

In [ ]:
a = 10
print(A)

In [ ]:
print(a)

In [ ]:
b = 10
print(B)
print(b)

##### Note*:
    
    -> Python is a case sensitive language
    
    -> That means python treats lower and upper case as different

#### 1.3.4 Keywords cannot be identifiers

Keywords

    -> keywords are reserved words
    
    -> python reserved few words those words we call it as keywords
    
    -> In jupyternotebook keywords are going to be Green color with bold
    
    -> To understand how many kewords are there in the python we are importing library call keyword

In [ ]:
import keyword
key = keyword.kwlist

In [ ]:
print(key)

### 5. Len 

    -> To find how many or length of keywords we are using len buildin function

In [ ]:
len(key)

In [ ]:
len('Divesh')

### 6. Guidelines to declare variable names:

#### 6.1 Following steps

    -> Variable names should be concise and descriptive. 
    
        For example, the active_user variable is more descriptive than the au.

    -> Use underscores (_) to separate multiple words in the variable names.

    -> Avoid using the letter l and the uppercase letter O because they look like the number 1 and 0.

#### 6.2 Camel Case

In the camel case, each word or abbreviation in the middle of begins with a capital letter. There is no intervention of whitespace. 

##### For example

name of student

nameofstudent

In [ ]:
nameOfStudent = 'Divesh'
print(nameOfStudent)

#### 6.3 Pascal Case

It is the same as the Camel Case, but here the first word is also capital. 

##### For Example

In [ ]:
NameOfStudent = "Kumar"
print(NameOfStudent)

#### 6.4 Snake Case

In the snake case, Words are separated by the underscore. 

##### For example

In [ ]:
name_of_student = "Div"
print(name_of_student)

### 7. Python Variable Types

#### 7.1 Local Variable

Local variables are the variables that declared inside the function and have scope within the function. 

##### Example.

In [1]:
def teluguStates():
    # Defining local variables. They has scope only within a function  
    hero = 'NANI'  
    print("Cini Hero:", hero)  

print("Funtion Created")

Funtion Created

In [2]:
# Calling a function  
teluguStates()

Cini Hero: NANI

In [3]:
print(hero)

NameError: name 'hero' is not defined

#### 7.2 Global Variables

Global variables can be used throughout the program, and its scope is in the entire program. We can use global variables inside or outside the function.

    -> A variable declared outside the function is the global variable by default. 

    -> Python provides the global keyword to use global variable inside the function. 

    -> If we don't use the global keyword, the function treats it as a local variable. 

##### Example.

In [4]:
hero = 'Prabas'  

# Global variable in function  
def indianMovies():  
    print(hero)

print("Function is created")

Function is created

In [5]:
indianMovies()

Prabas

In [6]:
print(hero)

Prabas

In [7]:
teluguStates()

Cini Hero: NANI

In [8]:
x = 'Modi'  
  
# Global variable in function  
def telangana():   
    x = 'KCR'  
    print(x) 
    
def karnataka():
    print(x)

print("Functions Created")

Functions Created

In [9]:
telangana()

KCR

In [10]:
print(x)

Modi

In [11]:
karnataka()

Modi

In [12]:
print(w)

NameError: name 'w' is not defined

In [13]:
# Global variable in function  
def function():  
    # printing a global variable  
    global w   
    w = 'Rajmouli'  
    print(w)

In [14]:
function()

Rajmouli

In [15]:
print(w)

Rajmouli

In [16]:
x = 'Modi'
# Global variable in function  
def fun():  
    # printing a global variable  
    global x
    print("National Party:",x)  
    # modifying a global variable  
    x = 'KCR'  
    print(x)

In [17]:
fun()

National Party: Modi
KCR

In [18]:
print(x)

KCR

### 8. Delete a variable

We can delete the variable using the del keyword

In [1]:
x=5

In [2]:
print(x)

5

In [3]:
del x

In [4]:
print(x)

NameError: name 'x' is not defined

### 9. Multiple Assignment

Python allows us to assign a value to multiple variables in a single statement, which is also known as multiple assignments.

We can apply multiple assignments in two ways, either by assigning a single value to multiple variables or assigning multiple values to multiple variables. Consider the following example.

#### 9.1 Assigning multiple values to multiple variables

##### Examples

In [5]:
i,j = 5,6
print("i value:",i)
print("j value:",j)

i value: 5
j value: 6

#### 9.2 Applying Single Value to muiltiple Variables

In [6]:
a = b = c = 89
print(a)
print(b)
print(c)

89
89
89

#### 9.3 Printing Multiple Variables

In [7]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [8]:
a = b = c = 89
print(a,b,c)

89 89 89

### 10. Re-Declare Variable

In [9]:
h = 8
print(h)

8

In [10]:
h = 'divesh'
print(h)

divesh

In [11]:
print(h)

divesh

In [12]:
a = 'divesh'

In [13]:
print(a)

divesh

In [14]:
a

'divesh'

In [15]:
display(a)

'divesh'

### 11. Display Output by using variable name

    -> by calling variable directly in the cell
    
    -> while we are calling variable name there are certian rules

        => we can call one variable name at a time in the cell
    
        => if i call two variable name we are going to get last variablename output
    
        => by customizing we can achive to call multiple variables at a time
    
        => Alway calling variable name must be last line in the cell

In [16]:
weak = 7
print(weak)

7

#### 11.1 We can call one variable name at a time in the cell

##### Example:

In [17]:
weak

7

#### 11.2 if i call two variable name we are going to get last variablename output

##### Example:

In [18]:
weak
weak

7

In [19]:
a=10
a
weak

7

In [20]:
a

10

#### 11.3 By customizing we can achive to call multiple variables at a time

##### Example:

In [21]:
a, weak

(10, 7)

In [22]:
k = a,weak
k

(10, 7)

In [25]:
k[1]

7

#### 11.4 Alway calling variable name must be last line in the cell

##### Example:

In [26]:
a
print(weak)

7

In [27]:
print(weak)
a

7

10

In [28]:
a =55
b =5
c = a + b
d = a - b
d,c

(50, 60)

### 12. Difference between Variable name and string

#### 12.1 Variable Name Representation

##### Example

In [29]:
true = 4
print(true)

4

#### 12.2 Function Name Representation

##### Example

In [31]:
def true():
    print("Hello! I am Function")
    
true()

Hello! I am Function

#### 12.3 String Representation

##### Example

In [33]:
a = 'true'
type(a)

str

#### 12.4 Keyword Representation

##### Example

In [32]:
b = True
type(b)

bool

### 13. Casting

#### 13.1 int( )

##### Example

In [34]:
int(8)

8

In [35]:
int(8.2)

8

In [36]:
int('8')

8

In [37]:
int('8.2')

ValueError: invalid literal for int() with base 10: '8.2'

In [38]:
int(float('8.2'))

8

In [39]:
int('eight')

ValueError: invalid literal for int() with base 10: 'eight'

#### 13.2 float( )

##### Example

In [40]:
float(8)

8.0

In [41]:
float('8')

8.0

In [42]:
float('8.9')

8.9

In [43]:
float('eight')

ValueError: could not convert string to float: 'eight'

#### 13.3 str( )

##### Example

In [44]:
str(8)

'8'

In [45]:
str(8.9)

'8.9'

In [46]:
str('divesh')

'divesh'

### 14. input( )

    -> input is also build in function
    
    -> When user want to send value at run time
    
    -> runtime => when we are executing the progeram user passing value
    
    -> When user using input, user must pass datatype

    -> If user not passing datatype, the value will be string (Default)

#### 14.1 Default any value treat it as string

#### Example

In [49]:
a = input()
type(a)

5

str

In [50]:
a

'5'

#### 14.2 Passing Message to the user

##### Example

In [51]:
a = input("Enter Student Name: ")
type(a)

Enter Student Name: Divesh

str

In [52]:
print(a)

Divesh

#### 14.3 Passing integer value through input

##### Example

In [53]:
# 8
#int('8')

a = int(input('Number of student in a class: '))
type(a)

Number of student in a class: 8

int

In [1]:
# 8.2
#int('8.2')
a = int(input('Number of student in a class:'))
type(a)

Number of student in a class:8.2

ValueError: invalid literal for int() with base 10: '8.2'

In [2]:
# eight
#int('eight')
a = int(input('Number of student in a class:'))
type(a)

Number of student in a class:eight

ValueError: invalid literal for int() with base 10: 'eight'

#### 14.3 Passing float value through input

##### Example

In [3]:
a = float(input('Enter student height:'))
print(a)
type(a)

Enter student height:5
5.0

float

In [4]:
a = float(input('Enter student height:'))
type(a)

Enter student height:5.9

float

In [5]:
a = float(input('Enter student height:'))
type(a)

Enter student height:five

ValueError: could not convert string to float: 'five'

#### 14.4 Samples for practice
##### Example 1:

In [6]:
telugu = input("Enter Student Marks:")
hindi = input("Enter Student Marks:")
total = telugu + hindi
print(total)
print(type(telugu), type(hindi), type(total))

Enter Student Marks:50
Enter Student Marks:50
5050
<class 'str'> <class 'str'> <class 'str'>

##### Example 2:

In [7]:
telugu = int(input("Enter Student Marks:"))
hindi = int(input("Enter Student Marks:"))
total = telugu + hindi
print(total)
print(type(telugu), type(hindi), type(total))

Enter Student Marks:50
Enter Student Marks:50
100
<class 'int'> <class 'int'> <class 'int'>

## 15. Format

### Definition and Usage

The format() method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: { }.

The format() method returns the formatted string.

In [8]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "Divesh", age = 35)
print(txt1)

My name is Divesh, I'm 35

In [9]:
txt2 = "My name is {0}, I'm {1}. I am discussing with {0}".format("Divesh",35)
print(txt2)

My name is Divesh, I'm 35. I am discussing with Divesh

In [10]:
txt3 = "My name is {}, I'm {}".format("Divesh",35)
print(txt3)

My name is Divesh, I'm 35

In [12]:
name=input("Enter Name:")
age=int(input("Enter Age"))
txt4 = "My name is {a}, I'm {b}. This  is {a}".format(a = name,b = age)
print(txt4)

Enter Name:Raj
Enter Age25
My name is Raj, I'm 25. This  is Raj

In [13]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [ ]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49.548465))

In [ ]:
txt = 'Divesh'
print(f'This is {txt}')