# Agenda
   
### 1. Comments

    1.1 Single Line Comment
    
    1.2 inline Comment

    1.3 Multiple Line Comment
    
    1.4 Documentation strings

### 2. Round

    2.1 Removing decimals

    2.2 Controlling decimals
    
### 3. Print Statements

    -> Displaying

    -> NoneType

    -> Concatenation

    -> Joining

    -> New Line

    -> Tab space
    
    -> end
    
    -> sep
   
### 4. Error types

    -> Syntax Error

    -> Name Error
    
    -> Value Error

    -> Type Error
    
### 5. Python Literals

### 6. Statements

### 7. Syntax

# Chapters in depth

### 1. Comments

    -> Readability of the Code

    -> Restrict code execution

    -> Provide an overview of the program or project metadata

    -> To add resources to the code
    
#### 1.1 Single-line Comment

    -> Single-line remarks in Python have shown to be effective for providing quick descriptions for parameters, function definitions, and expressions. 

    -> A single-line comment of Python is the one that has a hashtag # at the beginning of it and continues until the finish of the line. 

    -> If the comment continues to the next line, add a hashtag to the subsequent line and resume the conversation.
    
##### Example

In [1]:
# I am assigning 3 value to v variable

v = 3 
v

3

In [2]:
'This is single line comment'

a = 'Divesh'
a

'Divesh'

In [3]:
"This is single line comment"

b = 'Divesh'
b

'Divesh'

#### 1.2 In-line Comment

##### Example

In [4]:
x = 3 # I am assigning 3 value to x variable
x

3

#### 1.3 Multi-Line Comments

    -> Python does not provide the facility for multi-line comments. 
    
    -> However, there are indeed many ways to create multi-line comments.

##### 1.3.1 With Multiple Hashtags (#)

###### Example

In [5]:
# I am 
# assigning 10 
# value to 
# y variable

y =10 
y

10

##### 1.3.2 Using String Literals

Python overlooks string expressions that aren't allocated to a variable, we can utilize them as comments.

###### Example

In [6]:
'this 
divesh'

SyntaxError: unterminated string literal (detected at line 1) (1479845734.py, line 1)

In [7]:
'''This is 
multiple 
line 
comment'''

b = 10
b

10

In [8]:
"""This is 
multiple line 
comment"""

c = 10
c

10

#### 1.4 Document String

    -> The strings enclosed in triple quotes that come immediately after the defined function are called Python docstring. 
    
    -> It's designed to link documentation developed for Python modules, methods, classes, and functions together. 
    
    -> It's placed just beneath the function, module, or class to explain what they perform. 
    
    -> The docstring is then readily accessible in Python using the __doc__ attribute.
    
##### Example

In [10]:
''' Code to 
show how we 
use docstrings in Python ''' 
  
def add(x, y):  
    """This function adds the values of x and y""" 
    return x + y

In [11]:
# Displaying the docstring of the add function  
print(add.__doc__)

This function adds the values of x and y

In [12]:
add(2,3)

5

In [13]:
len('Divesh')

6

In [14]:
print(len.__doc__)

Return the number of items in a container.

#### 1.5 Difference between Docstrings and Multi-line Comments

    -> Docstrings are written in the functions and classes to show how to use the program.

    -> Multi-line comments are used to show how a block of code works.

### 2. Round 

#### 1.1 Removing decimals

    -> round is build in function
    
    -> it going to round the number by removing the decimals
    
    -> Even user can customize, how many decimals need to display
    
##### Examples:

In [15]:
round(5.5)

6

In [16]:
round(5.4999)

5

#### 2.2 Controling decimals

round(value,ndigits)

    Value: 85.852
        
    ndigits: 2 (Number of digits to display decimals)

##### Examples:

In [17]:
round(85.856)

86

In [18]:
round(85.852, 2)

85.85

In [19]:
round(85.856, 2)

85.86

In [20]:
round(56.464944987498496, 6)

56.464945

### 3. Print

The print statement has been replaced with a print() function, with keyword arguments to replace most of the special syntax of the old print statement.

In Python, single, double and triple quotes are used to denote a string. Most use single quotes when declaring a single character. Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

    -> print is a build in function
    
    -> print helps to display output
    
    -> print output not used in further operations
    
    -> print output is only for display because data type of the print output is NoneType
    
##### Examples:

#### 3.1 print helps to display outpu

In [ ]:
a = 3
print(a)

#### 3.2 Checking datatypes

In [ ]:
type(a)

In [ ]:
type(print(a))

In [ ]:
b = print(a)
type(b)

#### 3.3 print output cannot use in further operations

In [ ]:
c = 8 + a
c

In [ ]:
d = 8 + b
d

In [ ]:
e = b + b
e

#### 3.4 Concatination

    -> representation is +

    -> we required two values to concate
    
    -> Two values must be same data type
    
    -> While we are concatinating no space generated

In [ ]:
print(2+2)

In [ ]:
print('div'+'esh')

In [ ]:
print('div'+'es'+'h')

In [ ]:
print('2' + 2)

#### 3.5 Joining 

    -> representation is ,
    
    -> we required two values to joining
    
    -> Two values can be same or different data type
    
    -> While we are joining space generated

In [ ]:
print(2,2)

In [ ]:
print('div','esh')

In [ ]:
print('2',2)

In [ ]:
a=8

In [ ]:
print("Number of students in a class:",a)

In [ ]:
print('Good','Morning'+'!')

In [ ]:
a = 'Good'
b = 'Morning'
c = '!'

print(a,b,c)

In [ ]:
print(a+b+c)

In [ ]:
print(a,b+c)

#### 3.6 New Line     \n

In [ ]:
print('This is Divesh. \nWorking in apss company.')

In [ ]:
print('This is Divesh. \n Working in apss company.')

In [ ]:
print(r'This is Divesh. \n Working in apss company.')

In [ ]:
print('C:/USER/divesh\notebook.\nWorking in apss company.')

In [ ]:
print(r'C:/USER/divesh\notebook.\nWorking in apss company.')

In [ ]:
print(r'C:/USER/divesh\notebook.','\nWorking in apss company.')

In [ ]:
print(r'C:/USER/divesh\notebook.',r'\nWorking in apss company.')

In [ ]:
print('This is \n\n\n\n\nDivesh')

In [ ]:
print('This is', 8*'\n','Divesh')

#### 3.7 tab   \t

In [ ]:
print('Jan\tFeb\tMar\tApr')

1 tab = 4 spaces = 1 indent

In [ ]:
print('Jan\tFeb\tMar\tApr\nMay\tJun\tJul\tAug\n\nSep')

#### 3.8 end

In [ ]:
print("this is")
print('Divesh')

In [ ]:
print("this is",end="")
print('Divesh')

In [ ]:
print("this is",end=" ")
print('Divesh')

In [ ]:
print("this is",end=" ")
print('Divesh')
print('Kumar')

In [ ]:
print("this is",end=" ")
print('Divesh',end=" ")
print('Kumar')

In [ ]:
print("this is",end="\n\n")
print('Divesh')

In [ ]:
print("this is",end=" @")
print('Divesh')

#### 3.9 sep

In [ ]:
a = 4
b = 9
c = 2022
print(a,b,c)

In [ ]:
a = 4
b = 9
c = 2022
print(a,b,c,sep='/')

In [ ]:
a = 4
b = 9
c = 2022
print(a,b,c,sep='-')

In [ ]:
a = 4
b = 9
c = 2022
print(a,b,c,sep='@')

### 4. Errors

    -> Syntax error
    
    -> Name error
    
    -> Type Error
    
    -> Value Error

#### 4.1 Syntax Error

In [ ]:
df!@ = 5

#### 4.2  Name Error

In [ ]:
zebra

#### 4.3 Type Error

In [ ]:
c = print(5)
a = 5 + c

#### 4.4 Value Error

In [ ]:
a = int(input('Enter Number: '))
a

### 5. Python literals

#### String literals

String literals can be formed by enclosing a text in the quotes. We can use both single as well as double quotes to create a string.

In [ ]:
a = "Divesh"
a

In [ ]:
b = '12345'
b

In [ ]:
c = "This is Divesh's Laptop"
c

#### Types of strings

There are two types of Strings supported in Python

#### 5.1 Single-line String

Single-line String- Strings that are terminated within a single-line are known as Single line Strings.

In [ ]:
a = "hello"
a

#### 5.2 Multi-line String

A piece of text that is written in multiple lines is known as multiple lines string.

There are two ways to create multiline strings

##### 5.2.1 Adding black slash at the end of each line.

In [ ]:
a = 'this is 
divesh'

In [ ]:
text ='this \
is \
divesh.'

print(text)

In [ ]:
a = 'this hkgjikkgggggggggggggggggggggggggggggggggggggggggggggggggggggggfnd dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd\
gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg\
is \
divesh'

a

##### 5.2.2 Using triple quotation marks

In [ ]:
text = """Welcome 
to the 
Active 
user"""

print(text)

In [ ]:
text = '''Welcome 
to the 
Active \
user'''

print(text)

### 6.Statements

    -> Instructions written in the source code for execution are called statements. 

    -> There are different types of statements in the Python programming language like Assignment statements, Conditional statements, Looping statements, etc. 

    -> These all help the user to get the required output. For example, n = 50 is an assignment statement.

#### 6.1 Single Line Statement

In [ ]:
n = 6
m = 7

#### 6.2 Multi-Line Statements 

    -> Statements in Python can be extended to one or more lines using parentheses (), braces {}, square brackets [], semi-colon (;), continuation character slash (\). 

    -> When the programmer needs to do long calculations and cannot fit his statements into one line, one can make use of these characters.

##### 6.2.1 Declared using Continuation Character 

    -> represents by using \

In [ ]:
s = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9

s

##### 6.2.2 Declared using parentheses

    -> represents by using ( )

In [ ]:
n = (1 + (2 * 3) + 
     7 + 
     8 + 9)

n

##### 6.2.3 Declared using square brackets

    -> represents by using [ ]

In [ ]:
footballer = ['MESSI',
          'NEYMAR', 

              
              
          'SUAREZ']

footballer

##### 6.2.4 Declared using braces 

    -> represents by using { }

In [ ]:
s = {1 + 2 + 3 + 4 + 5 + 6 +
     7 + 8 + 9}

s

##### 6.2.5 Declared using semicolons 

    -> represents by using ;

In [ ]:
# flag =2
# ropes = 3
# pole = 4
# flag,ropes,pole = 2,3,4
flag = 2
ropes = 3; pole = 4
h =5
ropes

### 7. Syntax

    -> A Python statement ends with a newline character.

    -> Python uses spaces and identation to organize its code structure.

    -> Identifiers are names that identify variables, functions, modules, classes, etc. in Python.

    -> Comments describe why the code works. They are ingored by the Python interpreter.

    -> Use the single quote, double-quotes, tripple-quotes, or tripple double-quotes to denote