Index values are generated defaultly

Columns Name generated default

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([])
df

Empty DataFrame
Columns: []
Index: []

### Creating a DataFrame by using 2D array

In [3]:
arr = np.array([[1,2,5],[8,9,6]])
df = pd.DataFrame(arr)
df

   0  1  2
0  1  2  5
1  8  9  6

### Creating a DataFrame From Dict

In [4]:
dic = {'Name':['Divesh','Hanuman','Sohail','Yasheen'],
      'Mobile':['Iphone','One Plus','Samsung','Motorola'],
      'Network':['Airtel','Jio','VI','BSNL'],
      'State':['AP','TS','MH','TN']}
df = pd.DataFrame(dic)
df

      Name    Mobile Network State
0   Divesh    Iphone  Airtel    AP
1  Hanuman  One Plus     Jio    TS
2   Sohail   Samsung      VI    MH
3  Yasheen  Motorola    BSNL    TN

### Load the csv file

In [2]:
df = pd.read_csv('iris.csv')

### head

Displaying top 5 rows as default

In [6]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
# head can be customized by passing value
df.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

### tail

Display bottom 5 rows as default

In [8]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [9]:
# tail can be customized by passing value
df.tail(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [10]:
# By using tail extracting bottom 50 rows and assigning in df_t variable
df_t = df.tail(50)
df_t

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
100,101,6.3,3.3,6.0,2.5,Iris-virginica
101,102,5.8,2.7,5.1,1.9,Iris-virginica
102,103,7.1,3.0,5.9,2.1,Iris-virginica
103,104,6.3,2.9,5.6,1.8,Iris-virginica
104,105,6.5,3.0,5.8,2.2,Iris-virginica
105,106,7.6,3.0,6.6,2.1,Iris-virginica
106,107,4.9,2.5,4.5,1.7,Iris-virginica
107,108,7.3,2.9,6.3,1.8,Iris-virginica
108,109,6.7,2.5,5.8,1.8,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
110,111,6.5,3.2,5.1,2.0,Iris-virginica
111,112,6.4,2.7,5.3,1.9,Iris-virginica
112,113,6.8,3.0,5.5,2.1,Iris-virginica
113,114,5.7,2.5,5.0,2.0,Iris-virginica
114,115,5.8,2.8,5.1,2.4,Iris-virginica
115,116,6.4,3.2,5.3,2.3,Iris-virginica
116,117,6.5,3.0,5.5,1.8,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
119,120,6.0,2.2,5.0,1.5,Iris-virginica
120,121,6.9,3.2,5.7,2.3,Iris-virginica
121,122,5.6,2.8,4.9,2.0,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
123,124,6.3,2.7,4.9,1.8,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
125,126,7.2,3.2,6.0,1.8,Iris-virginica
126,127,6.2,2.8,4.8,1.8,Iris-virginica
127,128,6.1,3.0,4.9,1.8,Iris-virginica
128,129,6.4,2.8,5.6,2.1,Iris-virginica
129,130,7.2,3.0,5.8,1.6,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
137,138,6.4,3.1,5.5,1.8,Iris-virginica
138,139,6.0,3.0,4.8,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

### ndim

Displaying number of dimentions

In DataFrame we are having two dimensions those are rows and columns

In [11]:
df.ndim

2

### shape

Displaying 

total number of rows and columns

In [12]:
df.shape

(150, 6)

### size

total number of elements in the DataFrame

In [13]:
df.size

900

### type

Data Type information

In [14]:
type(df)

pandas.core.frame.DataFrame

### columns

Displaying column names of the DataFrame

In [15]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

### dtype

DataType of each column

In [16]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

### info

Gives the information of the DataFrame like: Type, Index Range, Total number of columns, Column Names, Non Null Values count, Dtype, Each data type count, memory iusage

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

### describe

Statistics analysis of Numerical Data like: Count, Mean, standard Deviation, Min Value, Q1, Q2, Q3, Max value of each column.

In [18]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [19]:
# Helps to display statistics analysis of object like: count, unique values count, top, freq
df.describe(include='object')

            Species
count           150
unique            3
top     Iris-setosa
freq             50

### Transpose

Statistics analysis displaying with transpose (rows oto columns)

In [20]:
df.describe().T

               count       mean        std  min    25%    50%     75%    max
Id             150.0  75.500000  43.445368  1.0  38.25  75.50  112.75  150.0
SepalLengthCm  150.0   5.843333   0.828066  4.3   5.10   5.80    6.40    7.9
SepalWidthCm   150.0   3.054000   0.433594  2.0   2.80   3.00    3.30    4.4
PetalLengthCm  150.0   3.758667   1.764420  1.0   1.60   4.35    5.10    6.9
PetalWidthCm   150.0   1.198667   0.763161  0.1   0.30   1.30    1.80    2.5

### select_dtypes

Selecting particular datatype columns and displaying

In [3]:
import numpy as np
import pandas as pd
df= pd.read_csv('iris.csv')
df.select_dtypes(include='object')

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [4]:
df.select_dtypes(include=['int64','object'])

      Id         Species
0      1     Iris-setosa
1      2     Iris-setosa
2      3     Iris-setosa
3      4     Iris-setosa
4      5     Iris-setosa
..   ...             ...
145  146  Iris-virginica
146  147  Iris-virginica
147  148  Iris-virginica
148  149  Iris-virginica
149  150  Iris-virginica

[150 rows x 2 columns]

In [5]:
df.select_dtypes(exclude=['object'])

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

### memory_usage

In [6]:
df.memory_usage()

Index             128
Id               1200
SepalLengthCm    1200
SepalWidthCm     1200
PetalLengthCm    1200
PetalWidthCm     1200
Species          1200
dtype: int64

### astype

Changing the Data type

In [7]:
df['Id'].dtype

dtype('int64')

In [8]:
df['Id'].astype('int32').dtypes

dtype('int32')

### convert_dtypes

In [9]:
d = pd.DataFrame(
    {
        "a": pd.Series([1, 2, 3], dtype=np.dtype("int32")),
        "b": pd.Series(["x", "y", "z"], dtype=np.dtype("O")),
        "c": pd.Series([True, False, np.nan], dtype=np.dtype("O")),
        "d": pd.Series(["h", "i", np.nan], dtype=np.dtype("O")),
        "e": pd.Series([10, np.nan, 20], dtype=np.dtype("float")),
        "f": pd.Series([np.nan, 100.5, 200], dtype=np.dtype("float")),
    }
)
d

   a  b      c    d     e      f
0  1  x   True    h  10.0    NaN
1  2  y  False    i   NaN  100.5
2  3  z    NaN  NaN  20.0  200.0

In [10]:
d.dtypes

a      int32
b     object
c     object
d     object
e    float64
f    float64
dtype: object

In [11]:
dn = d.convert_dtypes()
dn

   a  b      c     d     e      f
0  1  x   True     h    10   <NA>
1  2  y  False     i  <NA>  100.5
2  3  z   <NA>  <NA>    20  200.0

In [12]:
dn.dtypes

a      Int32
b     string
c    boolean
d     string
e      Int64
f    Float64
dtype: object

In [13]:
#df = pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### loc

In [14]:
# Displaying in Series
df.loc[0]

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [15]:
# Displaying in Data Frame
df.loc[[0]]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa

In [16]:
df.loc[[0,6,10]]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa

In [17]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [19]:
df.loc[[0,6,10],['SepalWidthCm']]

    SepalWidthCm
0            3.5
6            3.4
10           3.7

In [20]:
df.loc[[0,6,10],['SepalWidthCm','Species']]

    SepalWidthCm      Species
0            3.5  Iris-setosa
6            3.4  Iris-setosa
10           3.7  Iris-setosa

In [21]:
df['PetalLengthCm']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64

In [22]:
df[['PetalLengthCm']]

     PetalLengthCm
0              1.4
1              1.4
2              1.3
3              1.5
4              1.4
..             ...
145            5.2
146            5.0
147            5.2
148            5.4
149            5.1

[150 rows x 1 columns]

In [23]:
df[['PetalLengthCm','SepalWidthCm']]

     PetalLengthCm  SepalWidthCm
0              1.4           3.5
1              1.4           3.0
2              1.3           3.2
3              1.5           3.1
4              1.4           3.6
..             ...           ...
145            5.2           3.0
146            5.0           2.5
147            5.2           3.0
148            5.4           3.4
149            5.1           3.0

[150 rows x 2 columns]

In [24]:
df.loc[[0,2,6],['PetalLengthCm','SepalWidthCm']]

   PetalLengthCm  SepalWidthCm
0            1.4           3.5
2            1.3           3.2
6            1.4           3.4

In [25]:
df['PetalLengthCm'] > 4.4

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: PetalLengthCm, Length: 150, dtype: bool

In [26]:
df.loc[df['PetalLengthCm'] > 4.4]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
55,56,5.7,2.8,4.5,1.3,Iris-versicolor
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df.loc[df['PetalLengthCm'] > 4.4,['Species']]

In [ ]:
df.loc[df['PetalLengthCm'] > 4.4,['Species','PetalLengthCm']]

In [ ]:
df.loc[lambda df: df['PetalLengthCm'] == 5.0]

### iloc

In [ ]:
df.iloc[[0]]

In [ ]:
df.iloc[[0,5,6]]

In [ ]:
df.iloc[[0,5,6],[0,3]]

### insert

In [ ]:
d = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
d

In [ ]:
d.insert(1, "newcol", [99, 99])
d

In [ ]:
d.insert(0, "col1", [100, 100])
d

In [ ]:
d.insert(0, "col1", [100, 100], allow_duplicates=True)
d

In [ ]:
d.insert(0, "col0", pd.Series([5, 6], index=[1, 2]))
d

In [ ]:
df.head()

### count

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv("iris.csv")
df.head()

In [ ]:
# Non Null Values count
df.count()

### sum

In [ ]:
df.sum()

### mean

In [ ]:
df.mean()

### median

In [ ]:
df.median()

### mode

In [ ]:
df['Species'].mode()

### std

In [ ]:
df.std()

### min

In [ ]:
df.min()

### max

In [ ]:
df.max()

In [ ]:
df['SepalLengthCm'].max()

In [ ]:
df[['SepalLengthCm','PetalLengthCm']].max()

### abs

In [ ]:
df['SepalLengthCm'].abs()

In [ ]:
df[['SepalLengthCm']].abs()

### prod

In [ ]:
df.prod()

### cumsum

In [ ]:
df['SepalLengthCm'].cumsum()

In [ ]:
df[['SepalLengthCm']].cumsum()

### cumprod

In [ ]:
df['SepalLengthCm'].cumprod()

### describe

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
df.describe(include=['object'])

In [ ]:
df.describe(include='all')

Note*

df.loc[df['PetalLengthCm'] > 4.4,['Species','PetalLengthCm']]

df[['SepalLengthCm','PetalLengthCm']].max()