## Agenda


### Operators


### 1. Numerical Output Operators

    -> Arithmetic Operators


### 2. Boolean Output Operators

    -> Comparison Operators

    -> Relational Operators

    -> Membership Operators

    -> Identity Operators

    -> Logical Operators
    
    -> Bitwise Operators


### 3. Assigning Operators

    -> Assignments Operators

### Operators

    -> Based on output, I divided operators into three types
    
        -> Numerical Output Operators
        
            -> We see numbers
            
                -> integer
                
                -> float
                
                -> complex
        
        -> Boolean Output Operators
        
            -> True
            
            -> False
        
        -> Assigning Operators

### Operators:
    
    -> logic or decision making

### 1. Numerical Output Operators

#### 1.1 Arithmetic Operators

#### Assigning value to variable name

In [1]:
a = 6
b = 5

##### 1.1.1 Addition
            
    -> representation is +

In [2]:
c = a+b
c

11

In [3]:
2.0 + 5

7.0

##### 1.1.2 Subtraction
        
    -> representation is -

In [4]:
print(a-b)

1

##### 1.1.3 Multiplication
        
    -> representation is *

In [5]:
a*b

30

In [6]:
1.2 * 5

6.0

In [7]:
int(1.2*5)

6

##### 1.1.4 Division
        
    -> representation is /
            
    Note*: When we apply division value type is float

In [8]:
a/b

1.2

In [9]:
4/2

2.0

##### 1.1.5 Floor Division
        
    -> representation is //
            
    Note*: 
                
        => It works like division
                
        => Output value is integer and Float

In [10]:
6//2

3

In [11]:
5//2

2

In [12]:
3.8//3

1.0

##### 1.1.6 Modulus
        
    -> representation is %
            
    Note*
            
        => Output value is reminder

In [13]:
5%2

1

In [14]:
5%6

5

In [15]:
6%5

1

In [16]:
2%5

2

In [17]:
2.5%2

0.5

In [18]:
3.0%2

1.0

##### 1.1.7 Exponential / Power
        
    -> representation is **

In [19]:
2**2

4

In [20]:
# 3*3*3
3**3

27

### 2. Boolean Output
    
    -> Comparison Operator
    
    -> Relational Operators
    
    -> Membership Operators
    
    -> Identical operator
        
    -> Logical Operator

-> These operators first check the datatype if it is matched then only it checks value

-> Data types

    -> numerical datatype
    
        -> int
        
        -> float
        
        -> complex
        
    -> string

#### 2.1 Comparision Operators
    
##### 2.1.1 Equal to Equal to
        
    -> represent by ==
        
###### Examples:

In [21]:
2 == 2.0

True

In [22]:
2 == '2'

False

In [23]:
2 == 2.0001

False

##### 2.1.2 Not Equal to
        
    -> represent by !=
    
###### Examples:

In [24]:
2 != 2.01

True

In [25]:
2 != 2

False

#### 2.2 Relational Operators

##### 2.2.1 Less than
        
    -> represent by <
    
###### Examples:

In [26]:
2 < 9

True

In [27]:
2 < 2

False

##### 2.2.2 Greater than
        
    -> represent by >
    
###### Examples:

In [28]:
85412 > 8522

True

In [29]:
5 > 5

False

In [30]:
5.000001 > 5

True

##### 2.2.3 Less than or equal to
        
    -> represent by <=
    
###### Examples:

In [31]:
2 <= 2.0

True

##### 2.2.4 Greater than or equal to
        
    -> represent by >=
    
###### Examples:

In [32]:
851 >= 856321

False

#### 2.3 Membership Operators

We are checking the value in the set of values

    -> in
    
    -> not in

##### 2.3.1 in      

    => there
    
###### Examples:

In [33]:
'i' in 'INDIA'

False

In [34]:
2 in [1,5,1,2.0]

True

##### 2.3.2 not in      

    => not there
    
###### Examples:

In [35]:
2 not in ['2',4,5,8,4]

True

#### 2.4 Identity Operators

    -> Must looks like same

    -> is
    
    -> is not

##### 2.4.1 is

###### Example:

In [36]:
2 is 2.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\divesh\AppData\Local\Temp\ipykernel_29288\700261715.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2 is 2.0

False

##### 2.4.2 is not

###### Example:

In [37]:
2 is not '2'

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\divesh\AppData\Local\Temp\ipykernel_29288\3071503370.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  2 is not '2'

True

#### 2.5 Logical Operators

    -> and  => must
    
    -> or   => either
    
    -> not  => Opposite

and    or

-> to apply these two operators we required a two condition

### Restaurant

-> Wear shoe

-> Comeup with blue

    -> weekday
    
        -> either one condition need to statsfy
        
        -> or
    
    -> weekend
    
        -> both conditions need to statisfy
        
        -> and

a -> wear shoe

b -> blue clothes

c -> entrance or no entrance

### weekday -> or => either

a        b        c

T        T        T

T        F        T

F        T        T

F        F        F

### weekend -> and => must

a        b        c

T        T        T

T        F        F

F        T        F

F        F        F

In [38]:
2>6

False

In [39]:
2<6

True

In [40]:
2==2

True

In [41]:
2==2 and 2<6

True

In [42]:
2>6 and 2<6

False

In [43]:
2>6 or 2<6

True

In [44]:
2>6 and 2>6

False

### not -> Opposite

In [45]:
2>6

False

In [46]:
not 2>6

True

In [47]:
2<6

True

In [48]:
not 2<6

False

### 2.6 Python Bitwise Operators

In [54]:
a = 10
b = 4

a = 10 = 1010 (Binary)
b =  4 = 0100 (Binary)

#### Bitwise AND

    -> Returns 1 if both the bits are 1 else 0.

In [55]:
a & b

0

a  =  1 0 1 0  => T F T F

b  =  0 1 0 0  => F T F F

-------------------------

&  =  0 0 0 0  => F F F F

#### Bitwise OR

    -> Returns 1 if either of the bit is 1 else 0.

In [56]:
a | b

14

a  =  1 0 1 0  => T F T F

b  =  0 1 0 0  => F T F F

-------------------------
|  =  1 1 1 0  => T T T F

#### Bitwise NOT

    -> Returns one’s complement of the number.

In [57]:
a

10

In [58]:
~a

-11

In [59]:
~3

-4

a = 10 = 1010 (Binary)

~a = ~1010

   = -(1010 + 1)
   
   = -(1011)
   
   = -11 (Decimal)

#### Bitwise XOR

    -> Returns 1 if one of the bits is 1 and the other is 0 else returns false.

In [ ]:
a ^ b

a  =  1 0 1 0

b  =  0 1 0 0

^  =  1 1 1 0

#### 3. Assignment Operators

    -> represents by using =

We are assigning a value to variable name

In [49]:
i = 1

In [50]:
i = i+1
i

2

In [51]:
# i = i+1
i+=1
i

3

In [52]:
# i = i-1
i-=1
i

2

In [53]:
#i = i*6
i*=6
i

12