## How to connect to mysql using python and import the csv file into mysql and create a table

### Objective

    Step 1: System requirements

    Step 2: Prepare the CSV File

    Step 3: Import the CSV File into the DataFrame.

    Step 4: Connect to the MySQL using Python and create a Database

    Step 5: Create a table and Import the CSV data into the MySQL table

    Step 6: Query the Table
    
    Step 7 : Query Table to data frame

### Step 1: System requirements

pip install mysql-connector-python

pip install pandas

MySQL Workbench with mysql

### Step 2: Prepare the CSV File

Download iris.csv from kaggle.com

### Step 3: Import the CSV File into the DataFrame.

In [1]:
import pandas as pd
#tips.csv
empdata = pd.read_csv('iris.csv', index_col=False, delimiter = ',')
empdata.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### Step 4 : Connect to the MySQL using Python and create a Database

Create a connection object to connect to MySQL, The connect() constructor creates a connection to the MySQL and returns a MySQLConnection object.

In [2]:
import mysql.connector as mysql
from mysql.connector import Error
try:
    conn = mysql.connect(host='localhost', user='root',  
                        password='root')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
        # tips
        cursor.execute("CREATE DATABASE iris_prj_DeadPool")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Database is created

### Step 5: Create a table and Import the CSV data into the MySQL table

We will create an iris_data table under the iris database and insert the records in MySQL with below python code.

In [3]:
import mysql.connector as mysql
from mysql.connector import Error
try:
    conn = mysql.connect(host='localhost', database='iris_prj_DeadPool', user='root', password='root') # tips
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS data;') # tips_data
        print('Creating table....')
# in the below line please pass the create table statement which you want #to create
#tips_data(columnname1 datatype,columnname2 datatype .....)
        cursor.execute("CREATE TABLE data(Id INT,SepalLengthCm FLOAT,SepalWidthCm FLOAT,PetalLengthCm FLOAT,PetalWidthCm FLOAT,Species varchar(255))")
        print("Table is created....")
        #loop through the data frame
        for i,row in empdata.iterrows():
            #here %S means  
            # tips.tips_data
            sql = "INSERT INTO iris_prj_DeadPool.data VALUES (%s,%s,%s,%s,%s,%s)" # how many columns are there that many %s
            cursor.execute(sql, tuple(row))
            #print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('iris_prj_deadpool',)
Creating table....
Table is created....

### Step 6 : Query the Table

Query the table to make sure that our inserted data has been saved correctly.

In [4]:
# Execute query
sql = "SELECT * FROM iris_prj_DeadPool.data" # tips.tips_data
cursor.execute(sql)
# Fetch all the records
result = cursor.fetchall()
for i in result:
    print(i)

(1, 5.1, 3.5, 1.4, 0.2, 'Iris-setosa')
(2, 4.9, 3.0, 1.4, 0.2, 'Iris-setosa')
(3, 4.7, 3.2, 1.3, 0.2, 'Iris-setosa')
(4, 4.6, 3.1, 1.5, 0.2, 'Iris-setosa')
(5, 5.0, 3.6, 1.4, 0.2, 'Iris-setosa')
(6, 5.4, 3.9, 1.7, 0.4, 'Iris-setosa')
(7, 4.6, 3.4, 1.4, 0.3, 'Iris-setosa')
(8, 5.0, 3.4, 1.5, 0.2, 'Iris-setosa')
(9, 4.4, 2.9, 1.4, 0.2, 'Iris-setosa')
(10, 4.9, 3.1, 1.5, 0.1, 'Iris-setosa')
(11, 5.4, 3.7, 1.5, 0.2, 'Iris-setosa')
(12, 4.8, 3.4, 1.6, 0.2, 'Iris-setosa')
(13, 4.8, 3.0, 1.4, 0.1, 'Iris-setosa')
(14, 4.3, 3.0, 1.1, 0.1, 'Iris-setosa')
(15, 5.8, 4.0, 1.2, 0.2, 'Iris-setosa')
(16, 5.7, 4.4, 1.5, 0.4, 'Iris-setosa')
(17, 5.4, 3.9, 1.3, 0.4, 'Iris-setosa')
(18, 5.1, 3.5, 1.4, 0.3, 'Iris-setosa')
(19, 5.7, 3.8, 1.7, 0.3, 'Iris-setosa')
(20, 5.1, 3.8, 1.5, 0.3, 'Iris-setosa')
(21, 5.4, 3.4, 1.7, 0.2, 'Iris-setosa')
(22, 5.1, 3.7, 1.5, 0.4, 'Iris-setosa')
(23, 4.6, 3.6, 1.0, 0.2, 'Iris-setosa')
(24, 5.1, 3.3, 1.7, 0.5, 'Iris-setosa')
(25, 4.8, 3.4, 1.9, 0.2, 'Iris-setosa')
(26, 5.0, 3.0, 1.6, 0.2, 'Iris-setosa')
(27, 5.0, 3.4, 1.6, 0.4, 'Iris-setosa')
(28, 5.2, 3.5, 1.5, 0.2, 'Iris-setosa')
(29, 5.2, 3.4, 1.4, 0.2, 'Iris-setosa')
(30, 4.7, 3.2, 1.6, 0.2, 'Iris-setosa')
(31, 4.8, 3.1, 1.6, 0.2, 'Iris-setosa')
(32, 5.4, 3.4, 1.5, 0.4, 'Iris-setosa')
(33, 5.2, 4.1, 1.5, 0.1, 'Iris-setosa')
(34, 5.5, 4.2, 1.4, 0.2, 'Iris-setosa')
(35, 4.9, 3.1, 1.5, 0.1, 'Iris-setosa')
(36, 5.0, 3.2, 1.2, 0.2, 'Iris-setosa')
(37, 5.5, 3.5, 1.3, 0.2, 'Iris-setosa')
(38, 4.9, 3.1, 1.5, 0.1, 'Iris-setosa')
(39, 4.4, 3.0, 1.3, 0.2, 'Iris-setosa')
(40, 5.1, 3.4, 1.5, 0.2, 'Iris-setosa')
(41, 5.0, 3.5, 1.3, 0.3, 'Iris-setosa')
(42, 4.5, 2.3, 1.3, 0.3, 'Iris-setosa')
(43, 4.4, 3.2, 1.3, 0.2, 'Iris-setosa')
(44, 5.0, 3.5, 1.6, 0.6, 'Iris-setosa')
(45, 5.1, 3.8, 1.9, 0.4, 'Iris-setosa')
(46, 4.8, 3.0, 1.4, 0.3, 'Iris-setosa')
(47, 5.1, 3.8, 1.6, 0.2, 'Iris-setosa')
(48, 4.6, 3.2, 1.4, 0.2, 'Iris-setosa')
(49, 5.3, 3.7, 1.5, 0.2, 'Iris-setosa')
(50, 5.0, 3.3, 1.4, 0.2, 'Iris-setosa')
(51, 7.0, 3.2, 4.7, 1.4, 'Iris-versicolor')
(52, 6.4, 3.2, 4.5, 1.5, 'Iris-versicolor')
(53, 6.9, 3.1, 4.9, 1.5, 'Iris-versicolor')
(54, 5.5, 2.3, 4.0, 1.3, 'Iris-versicolor')
(55, 6.5, 2.8, 4.6, 1.5, 'Iris-versicolor')
(56, 5.7, 2.8, 4.5, 1.3, 'Iris-versicolor')
(57, 6.3, 3.3, 4.7, 1.6, 'Iris-versicolor')
(58, 4.9, 2.4, 3.3, 1.0, 'Iris-versicolor')
(59, 6.6, 2.9, 4.6, 1.3, 'Iris-versicolor')
(60, 5.2, 2.7, 3.9, 1.4, 'Iris-versicolor')
(61, 5.0, 2.0, 3.5, 1.0, 'Iris-versicolor')
(62, 5.9, 3.0, 4.2, 1.5, 'Iris-versicolor')
(63, 6.0, 2.2, 4.0, 1.0, 'Iris-versicolor')
(64, 6.1, 2.9, 4.7, 1.4, 'Iris-versicolor')
(65, 5.6, 2.9, 3.6, 1.3, 'Iris-versicolor')
(66, 6.7, 3.1, 4.4, 1.4, 'Iris-versicolor')
(67, 5.6, 3.0, 4.5, 1.5, 'Iris-versicolor')
(68, 5.8, 2.7, 4.1, 1.0, 'Iris-versicolor')
(69, 6.2, 2.2, 4.5, 1.5, 'Iris-versicolor')
(70, 5.6, 2.5, 3.9, 1.1, 'Iris-versicolor')
(71, 5.9, 3.2, 4.8, 1.8, 'Iris-versicolor')
(72, 6.1, 2.8, 4.0, 1.3, 'Iris-versicolor')
(73, 6.3, 2.5, 4.9, 1.5, 'Iris-versicolor')
(74, 6.1, 2.8, 4.7, 1.2, 'Iris-versicolor')
(75, 6.4, 2.9, 4.3, 1.3, 'Iris-versicolor')
(76, 6.6, 3.0, 4.4, 1.4, 'Iris-versicolor')
(77, 6.8, 2.8, 4.8, 1.4, 'Iris-versicolor')
(78, 6.7, 3.0, 5.0, 1.7, 'Iris-versicolor')
(79, 6.0, 2.9, 4.5, 1.5, 'Iris-versicolor')
(80, 5.7, 2.6, 3.5, 1.0, 'Iris-versicolor')
(81, 5.5, 2.4, 3.8, 1.1, 'Iris-versicolor')
(82, 5.5, 2.4, 3.7, 1.0, 'Iris-versicolor')
(83, 5.8, 2.7, 3.9, 1.2, 'Iris-versicolor')
(84, 6.0, 2.7, 5.1, 1.6, 'Iris-versicolor')
(85, 5.4, 3.0, 4.5, 1.5, 'Iris-versicolor')
(86, 6.0, 3.4, 4.5, 1.6, 'Iris-versicolor')
(87, 6.7, 3.1, 4.7, 1.5, 'Iris-versicolor')
(88, 6.3, 2.3, 4.4, 1.3, 'Iris-versicolor')
(89, 5.6, 3.0, 4.1, 1.3, 'Iris-versicolor')
(90, 5.5, 2.5, 4.0, 1.3, 'Iris-versicolor')
(91, 5.5, 2.6, 4.4, 1.2, 'Iris-versicolor')
(92, 6.1, 3.0, 4.6, 1.4, 'Iris-versicolor')
(93, 5.8, 2.6, 4.0, 1.2, 'Iris-versicolor')
(94, 5.0, 2.3, 3.3, 1.0, 'Iris-versicolor')
(95, 5.6, 2.7, 4.2, 1.3, 'Iris-versicolor')
(96, 5.7, 3.0, 4.2, 1.2, 'Iris-versicolor')
(97, 5.7, 2.9, 4.2, 1.3, 'Iris-versicolor')
(98, 6.2, 2.9, 4.3, 1.3, 'Iris-versicolor')
(99, 5.1, 2.5, 3.0, 1.1, 'Iris-versicolor')
(100, 5.7, 2.8, 4.1, 1.3, 'Iris-versicolor')
(101, 6.3, 3.3, 6.0, 2.5, 'Iris-virginica')
(102, 5.8, 2.7, 5.1, 1.9, 'Iris-virginica')
(103, 7.1, 3.0, 5.9, 2.1, 'Iris-virginica')
(104, 6.3, 2.9, 5.6, 1.8, 'Iris-virginica')
(105, 6.5, 3.0, 5.8, 2.2, 'Iris-virginica')
(106, 7.6, 3.0, 6.6, 2.1, 'Iris-virginica')
(107, 4.9, 2.5, 4.5, 1.7, 'Iris-virginica')
(108, 7.3, 2.9, 6.3, 1.8, 'Iris-virginica')
(109, 6.7, 2.5, 5.8, 1.8, 'Iris-virginica')
(110, 7.2, 3.6, 6.1, 2.5, 'Iris-virginica')
(111, 6.5, 3.2, 5.1, 2.0, 'Iris-virginica')
(112, 6.4, 2.7, 5.3, 1.9, 'Iris-virginica')
(113, 6.8, 3.0, 5.5, 2.1, 'Iris-virginica')
(114, 5.7, 2.5, 5.0, 2.0, 'Iris-virginica')
(115, 5.8, 2.8, 5.1, 2.4, 'Iris-virginica')
(116, 6.4, 3.2, 5.3, 2.3, 'Iris-virginica')
(117, 6.5, 3.0, 5.5, 1.8, 'Iris-virginica')
(118, 7.7, 3.8, 6.7, 2.2, 'Iris-virginica')
(119, 7.7, 2.6, 6.9, 2.3, 'Iris-virginica')
(120, 6.0, 2.2, 5.0, 1.5, 'Iris-virginica')
(121, 6.9, 3.2, 5.7, 2.3, 'Iris-virginica')
(122, 5.6, 2.8, 4.9, 2.0, 'Iris-virginica')
(123, 7.7, 2.8, 6.7, 2.0, 'Iris-virginica')
(124, 6.3, 2.7, 4.9, 1.8, 'Iris-virginica')
(125, 6.7, 3.3, 5.7, 2.1, 'Iris-virginica')
(126, 7.2, 3.2, 6.0, 1.8, 'Iris-virginica')
(127, 6.2, 2.8, 4.8, 1.8, 'Iris-virginica')
(128, 6.1, 3.0, 4.9, 1.8, 'Iris-virginica')
(129, 6.4, 2.8, 5.6, 2.1, 'Iris-virginica')
(130, 7.2, 3.0, 5.8, 1.6, 'Iris-virginica')
(131, 7.4, 2.8, 6.1, 1.9, 'Iris-virginica')
(132, 7.9, 3.8, 6.4, 2.0, 'Iris-virginica')
(133, 6.4, 2.8, 5.6, 2.2, 'Iris-virginica')
(134, 6.3, 2.8, 5.1, 1.5, 'Iris-virginica')
(135, 6.1, 2.6, 5.6, 1.4, 'Iris-virginica')
(136, 7.7, 3.0, 6.1, 2.3, 'Iris-virginica')
(137, 6.3, 3.4, 5.6, 2.4, 'Iris-virginica')
(138, 6.4, 3.1, 5.5, 1.8, 'Iris-virginica')
(139, 6.0, 3.0, 4.8, 1.8, 'Iris-virginica')
(140, 6.9, 3.1, 5.4, 2.1, 'Iris-virginica')
(141, 6.7, 3.1, 5.6, 2.4, 'Iris-virginica')
(142, 6.9, 3.1, 5.1, 2.3, 'Iris-virginica')
(143, 5.8, 2.7, 5.1, 1.9, 'Iris-virginica')
(144, 6.8, 3.2, 5.9, 2.3, 'Iris-virginica')
(145, 6.7, 3.3, 5.7, 2.5, 'Iris-virginica')
(146, 6.7, 3.0, 5.2, 2.3, 'Iris-virginica')
(147, 6.3, 2.5, 5.0, 1.9, 'Iris-virginica')
(148, 6.5, 3.0, 5.2, 2.0, 'Iris-virginica')
(149, 6.2, 3.4, 5.4, 2.3, 'Iris-virginica')
(150, 5.9, 3.0, 5.1, 1.8, 'Iris-virginica')

### Step 7 : Query Table to data frame

In [5]:
df = pd.read_sql("SELECT * FROM iris_prj_DeadPool.data", conn) # tips.tips_data
df.head()

C:\Users\divesh\AppData\Local\Temp\ipykernel_25556\594197536.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM iris_prj_DeadPool.data", conn) # tips.tips_data

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa