<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [6]:
# create empty list, name it 'a'
a = ([])
print(a)

[]

In [2]:
# print the value of a

print(a)

[]

In [3]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [72]:
list= ['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [73]:
print(list)

['R', 'Python', 'SAS', 'Scala', 42]

Using for loop iterate and print all the elements in the list

In [74]:
for i in list:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [75]:
print(list)

['R', 'Python', 'SAS', 'Scala', 42]

Print the value of temp and type(temp)

In [76]:

temp=list[1]
print(temp)

Python

Append the element 'Java' in the list

In [77]:
list.append("java")
print(list)

['R', 'Python', 'SAS', 'Scala', 42, 'java']

Remove the element 42 from the list and print the list

In [78]:
list.remove(42)
print(list)

['R', 'Python', 'SAS', 'Scala', 'java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [79]:
colors = ['red','blue','white']
print(colors)

['red', 'blue', 'white']

Append the element 'Black' to colors

In [80]:
colors.append("black")
print(colors)

['red', 'blue', 'white', 'black']

Append the color 'Orange' to second position (index=1) and print the list

In [94]:
colors.append("orange")

Print the list

In [102]:
print(colors)

['red', 'blue', 'white', 'black', 'orange', 'r', 'orange', 'orange']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [99]:
colors2 =['grey','sky blue']

Add the elements of colors2 to colors using extend function in the list

In [100]:
colors2.append(colors)

Print len of colors and its elements

In [104]:
print(len(colors2))
print(colors2)

3
['grey', 'sky blue', ['red', 'blue', 'white', 'black', 'orange', 'r', 'orange', 'orange']]

Sort the list and print it.

In [106]:
for i in colors2:
    print(i)

grey
sky blue
['red', 'blue', 'white', 'black', 'orange', 'r', 'orange', 'orange']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [110]:
f = 'Coronaviruscaused Lockdowns Around The World'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [111]:
words = f.split()
print(words)

['Coronaviruscaused', 'Lockdowns', 'Around', 'The', 'World']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [113]:

words_lower=[word.lower() for word in words]
print(words_lower)

['coronaviruscaused', 'lockdowns', 'around', 'the', 'world']

Check whether ‚Äòcountry‚Äô is in the list

In [115]:
if 'country' in words_lower:
    print("country is in the list")
else:
    print("country is not in the list")

country is not in the list

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [116]:
words_lower.remove('the')
print(words_lower)

['coronaviruscaused', 'lockdowns', 'around', 'world']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [117]:
x4= words_lower[:4]

In [118]:
print (x4)

['coronaviruscaused', 'lockdowns', 'around', 'world']

Convert the list of elements to single string using join function and print it

In [119]:
single_string = ' '.join(x4)
print(single_string)

coronaviruscaused lockdowns around world

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [120]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [121]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [122]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [124]:
print(stud_grades_set)

{'B', 'C', 'A', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [125]:
print(type(stud_grades))
print(type(stud_grades_set))

<class 'list'>
<class 'set'>

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [126]:

stud_grades_set.add('G')
print(stud_grades_set)

{'C', 'G', 'B', 'F', 'A'}

Add element 'F' to stud_grades_set. and print it.

In [127]:
stud_grades_set.add('F')
print(stud_grades_set)

{'C', 'G', 'B', 'F', 'A'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [128]:

stud_grades_set.remove('F')
print(stud_grades_set)

{'C', 'G', 'B', 'A'}

Print the elements and the length of stud_grades_set

In [130]:
print(len(stud_grades_set))

print(stud_grades_set)

4
{'C', 'G', 'B', 'A'}

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [131]:
colors=['red','blue','orange']
fruits=['orange','grapes','apples']

Print color and fruits

In [132]:
print(colors,fruits)

['red', 'blue', 'orange'] ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [133]:
colors_set=set(colors)
fruits_set=set(fruits)
print(colors_set)
print(fruits_set)

{'orange', 'red', 'blue'}
{'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [134]:
print(colors_set.union (fruits_set))

{'grapes', 'orange', 'apples', 'red', 'blue'}

Find the intersection of both the sets

In [136]:
print(colors_set.intersection (fruits_set))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [137]:

fruits_not_colors = fruits_set.difference(colors_set)
print(fruits_not_colors)

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [138]:
temp=[17,'virat',50.0]

Iterate through temp and print all the items in temp

In [139]:
for item in temp:
    print(item)

17
virat
50.0

replace first element with 11 in temp

In [140]:
temp[0]=11
print(temp)

[11, 'virat', 50.0]

Set temp1 = tuple(temp)

In [141]:
temp1=tuple(temp)
print(temp1)

(11, 'virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [147]:
for item in temp1:
    print(item)

11
virat
50.0

replace first element with 17 in temp1

In [150]:
temp1=(17,)+temp1[1:]
print(temp1)

(17, 'virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [151]:
city = ('Bangalore',28.9949561,72)

Print first element of city

In [154]:
print(city[0])

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [155]:
city2=('chennai',30.10,74)

Create cities which consist of city and city2

In [156]:
cities=(city,city2)

Print cities

In [157]:
print(cities)

(('Bangalore', 28.9949561, 72), ('chennai', 30.1, 74))

Print type of first element in cities

In [158]:
print(type(city))

<class 'tuple'>

print the type of cities

In [159]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [160]:
d={"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [165]:
print(d)
print(d["actor"])

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}
amir

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [166]:
actor=d['actor']
print(actor)

amir

Print the type of actor

In [167]:
print(type(actor))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [168]:
lists=d['list']
print(lists)

[23, 32, 12]

Print the type of List.

In [169]:
print(type(lists))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [170]:
d1={'singer':'vinay','album':'still here','genre':'melody'}

Merge d1 into d.

In [171]:
d.update(d1)

print d

In [172]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'vinay', 'album': 'still here', 'genre': 'melody'}

Print all the keys in d

In [173]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [174]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'vinay', 'still here', 'melody'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [175]:
print(d.items())

dict_items([('actor', 'amir'), ('animal', 'cat'), ('earth', 2), ('list', [23, 32, 12]), ('singer', 'vinay'), ('album', 'still here'), ('genre', 'melody')])

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [178]:
names = "sent"
char_count = {}
for char in names:
    if char in char_count:
        char_count[char] +=1
    else:
        char_count[char]=1
print(char_count)

{'s': 1, 'e': 1, 'n': 1, 't': 1}